[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Scrapy = ">=2.1.0"
Pillow = ">=7.1.2"
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
