@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#loading-icon { 
    animation:spin 2s linear infinite; 
}

/* #load-wrapper, */
#error-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 250px;
}

/* #load-wrapper span, */
#error-wrapper span {
    text-align: center;
    font-size: 18px;
}

#error-wrapper input {
    width: auto;
    padding: 5px 15px;
}



#overlay {
    position: absolute;
    background-color: rgba(164, 165, 188, 0.15);
    width: 100%;
    height: 100%;
}

#content-wrapper {
    display: inline-flex;
    align-items: center;
    width: 85%;
    min-width: 1250px;
}

#content-wrapper #main-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#content-wrapper #left-col,
#content-wrapper #right-col,
#content-wrapper #main-col {
    height: 100%;
}

#content-wrapper #left-col,
#content-wrapper #right-col {
    display: flex;
    align-items: center;
}

#content-wrapper #left-col img,
#content-wrapper #right-col img {
    transition: transform ease 0.25s;
}

#content-wrapper #left-col {
    margin-right: 50px;
}

#content-wrapper #left-col img:hover {
    cursor: pointer;
    transform: translateX(-5px);
}

#content-wrapper #right-col {
    margin-left: 50px;
}

#content-wrapper #right-col img:hover {
    cursor: pointer;
    transform: translateX(5px);
}



#main-col header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light);
    padding-bottom: 15px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: normal;
    width: 100%;
}

#main-col header div {
    display: inline-flex;
    align-items: center;
}

#main-col header button {
    display: inline-block;
    padding: 5px 10px;
    height: 30px;
    width: auto;
}

#main-col header button#upload {
    margin-left: 15px;
}

#main-col footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    margin-top: 25px;
}

#main-col #product-wrapper {
    min-height: 450px;
}

#main-col #product-wrapper .product {
    display: flex;
    justify-content: center;
    height: 100%;
}
#main-col #product-wrapper .product .divider {
    height: 100%;
}


/*
########  ########  ######## ##     ## #### ######## ##      ##
##     ## ##     ## ##       ##     ##  ##  ##       ##  ##  ##
##     ## ##     ## ##       ##     ##  ##  ##       ##  ##  ##
########  ########  ######   ##     ##  ##  ######   ##  ##  ##
##        ##   ##   ##        ##   ##   ##  ##       ##  ##  ##
##        ##    ##  ##         ## ##    ##  ##       ##  ##  ##
##        ##     ## ########    ###    #### ########  ###  ###
*/

.product .preview {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
}

.product .preview .main-display {
    border-bottom: 1px solid var(--main);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.product .preview .main-display img {
    height: 325px;
}

.product .preview .options {
    max-width: 100%;
}

.product .preview .options img {
    margin-left: 10px;
    height: 35px;
    transition: transform ease 0.25s;
}

.product .preview .options img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.product .preview .options img:first-child {
    margin-left: 0;
    height: 35px;
}


/*
 ######  ########  ########  ######   ######
##    ## ##     ## ##       ##    ## ##    ##
##       ##     ## ##       ##       ##
 ######  ########  ######   ##        ######
      ## ##        ##       ##             ##
##    ## ##        ##       ##    ## ##    ##
 ######  ##        ########  ######   ######
*/

.product .specs {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

.product .specs .input-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.product .specs .input-wrapper label {
    margin-bottom: 5px;
}

.product .specs fieldset {
    border: none;
    width: 100%;
}

.product .specs fieldset .product-name {
    display: inline-flex;
    width: 65%;
}

.product .specs fieldset .product-sku {
    display: inline-flex;
    width: 30%;
    float: right;
}



.product .specs .size-table {
    margin: 20px 0 30px;
    border-spacing: 0;
}

.product .specs .size-table td,
.product .specs .size-table th {
    border-left: 10px solid transparent;
}

.product .specs .size-table td:first-child,
.product .specs .size-table th:first-child {
    border-left: none;
}

.product .specs .size-table th {
    padding-bottom: 10px;
}

.product .specs .size-table td input {
    text-align: center;
    font-size: 14px;
    height: 30px;
    padding: 5px 5px;
}



.ql-toolbar.ql-snow {
    border: 1px solid var(--main);
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    padding: 8px
}

.ql-container.ql-snow {
    border: 1px solid var(--main);
    border-radius: 0 0 5px 5px;
    background-color: var(--lightest);
}

.ql-editor {
    font-size: 16px;
}

.ql-editor ul {
    padding-left: 0;
}
.ql-editor ul li {
    padding-left: 1em !important;
}


/*
 ######     ###    ######## ########  ######    #######  ########  ##    ##
##    ##   ## ##      ##    ##       ##    ##  ##     ## ##     ##  ##  ##
##        ##   ##     ##    ##       ##        ##     ## ##     ##   ####
##       ##     ##    ##    ######   ##   #### ##     ## ########     ##
##       #########    ##    ##       ##    ##  ##     ## ##   ##      ##
##    ## ##     ##    ##    ##       ##    ##  ##     ## ##    ##     ##
 ######  ##     ##    ##    ########  ######    #######  ##     ##    ##
*/

.categories {
    max-height: 450px;
    width: 215px;
}

.category-wrapper {
    height: 100%;
    overflow: auto;
}

.categories h3 {
    margin-bottom: 10px;
}
.categories .category {
    margin-top: 5px;
}

.categories .category label {
    margin-left: 5px;
    user-select: none;
    -webkit-user-select: none;
}

.categories .category .category {
    margin-left: 15px;
}


/*
########  ####    ###    ##        #######   ######
##     ##  ##    ## ##   ##       ##     ## ##    ##
##     ##  ##   ##   ##  ##       ##     ## ##
##     ##  ##  ##     ## ##       ##     ## ##   ####
##     ##  ##  ######### ##       ##     ## ##    ##
##     ##  ##  ##     ## ##       ##     ## ##    ##
########  #### ##     ## ########  #######   ######
*/

.dialog {
    display: none;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px;
    width: 300px;
    height: 175px;
    background-color: white;
    box-shadow: 0px 0px 20px #AAADB3;
}

.dialog form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.dialog form header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

.dialog form header h3 {
    font-size: 24px;
}

.dialog form button:hover {
    transform: scale(1.1);
}

.dialog form input {
    padding: 5px;
}