* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', serif;

    --main: #4A4756;
    --light: #A4A5BC;
    --lighter: #EBEEF5;
    --lightest: #F7F8FA;

    color: var(--main)
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button, input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}



button.solid-btn,
input.solid-btn {
    background: var(--main);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 100%;
    transition: all ease 0.25s;
}

button.solid-btn:hover,
input.solid-btn:hover {
    box-shadow: 0px 0px 10px #9895A6;
}



input.ghost {
    box-sizing: border-box;
    border: 1px solid var(--main);
    border-radius: 5px;
    background-color: var(--lightest);
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
}

input.ghost:focus {
    outline: none;
}
