* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #495057;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.center {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control:focus,
.custom-select:focus {
  border-color: #495057;
  box-shadow: 0 0 0 0.2rem #49505725;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 10px solid transparent;
  border-top: none;
  border-bottom: none;
  transition: 0.5s ease;
}

::-webkit-scrollbar-track {
  background-color: var(--lighter);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main);
  border: 9px solid transparent;
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
