* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', serif;

    --main: #4A4756;
    --light: #EBEEF5;
    --lighter: #F7F8FA;
}

button, input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}

button.solid-btn,
input[type="submit"].solid-btn {
    background: var(--main);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 100%;
    transition: all ease 0.25s;
}

.solid-btn:hover {
    box-shadow: 0px 0px 15px #9895A6;
}