<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="../static/js/import.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/import.css">

    <title> Apparel Scraper </title>
</head>

<body>
    <script id='product-template' type='text/template'>
        <div class="product">
            <div class="preview">
                <div class="main-display">
                    <img src="" alt=""/>
                </div>
                <div class="options"> 

                </div>
            </div>

            <div class="divider" style="width: 25px"></div>

            <form class="specs">
                <fieldset>
                    <div class="product-name input-wrapper">
                        <label for="name"> Product Name </label>
                        <input class="ghost" type="text" name="name">
                    </div><!-- 
                --><div class="product-sku input-wrapper">
                        <label for="sku"> Product SKU </label>
                        <input class="ghost" type="text" name="sku">
                    </div>
                </fieldset>

                <table class="size-table">
                    <tr class="sizes"> </tr>
                    <tr class="prices"> </tr>
                </table>

                <div class="input-wrapper">
                    <label> Product Description </label>
                    <div class="product-description"></div>
                </div>
            </form>

            <div class="divider" style="width: 40px"></div>

            <div class="categories">
                <h3> Category </h3>

                <div class="category-wrapper">
                    <div class="category">
                        <input type="checkbox" name="apparel" value="19">
                        <label for="apparel"> Apparel </label>

                        <div class="category">
                            <input type="checkbox" name="golf-shirts" value="187">
                            <label for="golf-shirts"> Golf Shirts </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="imprint-setup" value="41">
                            <label for="imprint-setup"> Imprint Setup </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="work-wear" value="47">
                            <label for="work-wear"> Work Wear </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="woven-shirts" value="46">
                            <label for="woven-shirts"> Woven Shirts </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="headwear" value="27">
                            <label for="headwear"> Headwear </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="outerwear" value="23">
                            <label for="outerwear"> Outerwear </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="active-wear" value="25">
                            <label for="active-wear"> Active Wear </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="fleece-hoodies" value="21">
                            <label for="fleece-hoodies"> Fleece & Hoodies </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="sport-shirts" value="24">
                            <label for="sport-shirts"> Sports Shirts </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="tshirts" value="22">
                            <label for="tshirts"> T-Shirts </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="pants-shorts" value="26">
                            <label for="pants-shorts"> Pants/Shorts </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="ladies-only" value="28">
                            <label for="ladies-only"> Ladies' Only </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="youth-only" value="29">
                            <label for="youth-only"> Youth Only </label>
                        </div>
                    </div>

                    <div class="category">
                        <input type="checkbox" name="branding" value="20">
                        <label for="branding"> Branding </label>

                        <div class="category">
                            <input type="checkbox" name="automotive" value="54">
                            <label for="automotive"> Automotive </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="business" value="55">
                            <label for="business"> Business </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="coolers-bags" value="53">
                            <label for="coolers-bags"> Coolers & Lunch Bags </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="drinkware" value="50">
                            <label for="drinkware"> Drinkware </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="outdoor" value="51">
                            <label for="outdoor"> Outdoor </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="stationary-pens" value="56">
                            <label for="stationary-pens"> Stationary & Pens </label>
                        </div>

                        <div class="category">
                            <input type="checkbox" name="travel" value="52">
                            <label for="travel"> Travel </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <div id="content-wrapper" class="center">
        <div id="left-col">
            <button id="left-btn">
                <img src="icons/l-arrow.svg" alt="">
            </button>
        </div>

        <div id="main-col">
            <header>
                <h1> Product Review </h1>

                <div>
                    <button id="cancel" class="ghost-btn"> Cancel </button>
                    <button id="upload" class="solid-btn"> Upload Products </button>
                </div>
            </header>

            <div id="product-wrapper">
                
            </div>

            <footer>
                <span id="progress"> </span>
            </footer>
        </div>

        <div id="right-col">
            <button id="right-btn">
                <img src="icons/r-arrow.svg" alt="">
            </button>
        </div>
    </div>



    <div id="confirm-dialog" class="dialog center">
        <form action="/begin_import" method="POST">
            <div class="dialog-content">
                <header>
                    <h3> Confirm Import </h3>
                    <button class="close" type="button" onclick="closeDialog('confirm-dialog')">
                        <img src="icons/close.svg" alt="">
                    </button>
                </header>

                <span class="message"></span>
            </div>

            <input id="products" type="hidden" name="products" value="">

            <input id="submit" type="submit" class="solid-btn" value="Confirm"/>
        </form>
    </div>

    <div id="cancel-dialog" class="dialog center">
        <form action="/cancel_import" method="POST">
            <div class="dialog-content">
                <header>
                    <h3> Cancel Import </h3>
                    <button class="close" type="button" onclick="closeDialog('cancel-dialog')">
                        <img src="icons/close.svg" alt="">
                    </button>
                </header>

                <span class="message"> Are you sure you want to cancel? </span>
            </div>

            <input type="submit" class="solid-btn" value="Confirm"/>
        </form>
    </div>

    <div id="overlay"></div>

    <div id="load-wrapper" class="center">
        <img id="loading-icon" src="icons/load.svg" alt="">
        <h5 id="status"> </h5>
    </div>
</body>


</html>
