<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/import.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/import.css">

    <title> Apparel Scraper </title>
</head>

<body>
    <div id="load-wrapper" class="center">
        <img id="loading-icon" src="icons/load.svg" alt="">
        <h5 id="status"> </h5>
    </div>
    
    <span id="items"> {{ items }} </span>
</body>


</html>
