<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="../static/js/import.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/import.css">

    <title> Apparel Scraper </title>
</head>

<body>
    <script id='product-template' type='text/template'>
        <div class="product">
            <div class="preview">
                <div class="main-display">
                    <img src="" alt=""/>
                </div>
                <div class="options"> 

                </div>
            </div>

            <div class="divider"></div>

            <form class="specs">
                <fieldset>
                    <div class="product-name input-wrapper">
                        <label for="name"> Product Name </label>
                        <input class="ghost" type="text" name="name">
                    </div><!-- 
                --><div class="product-sku input-wrapper">
                        <label for="sku"> Product SKU </label>
                        <input class="ghost" type="text" name="sku">
                    </div>
                </fieldset>

                <table class="size-table">
                    <tr class="sizes"> </tr>
                    <tr class="prices"> </tr>
                </table>

                <div class="input-wrapper">
                    <label> Product Description </label>
                    <div class="product-description"></div>
                </div>
            </form>
        </div>
    </script>


    <span id="items"> {{ items }} </span>

    <div id="load-wrapper" class="center">
        <img id="loading-icon" src="icons/load.svg" alt="">
        <h5 id="status"> </h5>
    </div>

    <div id="content-wrapper" class="center">
        <div id="left-col">
            <button id="left-btn">
                <img src="icons/l-arrow.svg" alt="">
            </button>
        </div>

        <div id="main-col">
            <header>
                <h1> Product Review </h1>

                <div>
                    <button id="cancel" class="ghost-btn"> Cancel </button>
                    <button id="upload" class="solid-btn"> Upload Products </button>
                </div>
            </header>

            <div id="product-wrapper">
                
            </div>

            <footer>
                <span id="progress"> 1/10 </span>
            </footer>
        </div>

        <div id="right-col">
            <button id="right-btn">
                <img src="icons/r-arrow.svg" alt="">
            </button>
        </div>
    </div>

</body>


</html>
