<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/index.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/home.css">

    <title> Apparel Scraper </title>
</head>

<body>
    <form id="import-form" class="center" action="/import" method="POST">
        <header>
            <h1> Import Products </h1>
        </header>

        <input class="ghost" type="text" name="url" placeholder="URL" required/>

        <div class="multi-btn">
            <input id="import-type" type="hidden" name="import-type" value="single">
            <div id="single" class="item active"> Single Product </div><!-- 
         --><div id="page" class="item"> Page of Products </div>
        </div>

        <div id="site-login">
            <div class="title">
                <span> Site Login </span>
                <input type="checkbox"/>
            </div>

            <div class="input-wrapper">
                <div class="labelled-input">
                    <span class="label"> ID </span>
                    <input class="ghost" type="text" name="id" required/>
                </div>

                <div class="labelled-input">
                    <span class="label"> Email </span>
                    <input class="ghost" type="text" name="email" required/>
                </div>

                <div class="labelled-input">
                    <span class="label"> Password </span>
                    <input class="ghost" type="password" name="password" required/>
                </div>
            </div>
        </div>

        {% if message %}
            <p class="message"> {{ message | safe  }} </p>
        {% endif %}
        
        <input type="submit" class="solid-btn" value="Submit"/>
    </form>
</body>


</html>
