#import-form {
    .col-7 {
        min-width: 500px;
        max-width: 750px;

        .row.top {
            header {
                font-size: 18px;

                a {
                    img {
                        opacity: 0.65;
                        transition: 0.3s ease-in-out;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }

                    #badge {
                        display: none;
                        position: absolute;
                        background: #dc3545;
                        border: 2.5px solid white;
                        border-radius: 50%;
                        color: white;
                        font-size: 9px;
                        text-align: center;
                        width: 17.5px;
                        height: 17.5px;
                        top: -4px;
                        left: -9px;

                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        .row.mid {
            header {
                margin-bottom: 35px;
                font-size: 18px;
                font-weight: normal;
                width: 500px;
                top: 10%;

            }

            .input-group-append {
                #supplier {
                    border-radius: 0;
                    cursor: pointer;

                    &:focus {
                        border-color: #495057;
                        box-shadow: none;
                    }
                }
            }

            .btn-group .btn.active {
                background-color: #5a6268;
            }
        }
    }
}
