#import-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .row.top {
        max-height: 75px;
    }

    .row.mid {
        min-width: 750px;

        .col-5.mid {
            min-width: 525px;

            header {
                margin-bottom: 35px;
                font-size: 18px;
                font-weight: normal;
                width: 500px;
                top: 10%;
            }

            #supplier {
                border-radius: 0;
        
                &:focus {
                    border-color: #495057;
                    box-shadow: none;
                }
            }

            .btn-group .btn.active {
                background-color: #5a6268;
            }
        }
    }
}
